<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" href="/css/logout.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="container">
          <h1>Hogwarts</h1>
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main>
        <div class="container">
          <h2>Logout</h2>
          <p>You have been successfully logged out.</p>
        </div>
      </main>
    </div>
    <footer>
      <div class="container">
        <p>&copy; 2023 Hackwarts School of Cybersecurity and Hacking</p>
      </div>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>
